.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
  
.card {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card h2 {
    margin: 0 0 10px;
}

.card p {
    margin: 0 0 20px;
}

.button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #0056b3;
}