h1 {
    text-align: center;
    margin-bottom: 30px;
}
  
.meeting-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
  
.meeting-list li {
    background-color: greenyellow;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
  
h3 {
    margin: 0;
    font-size: 1.5em;
}
  
p {
    margin: 5px 0;
}
  
a {
    display: block;
    text-align: center;
    margin-top: 30px;
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    padding: 10px 20px;
    border-radius: 5px;
    max-width: 200px;
    margin: 30px auto;
}
  
a:hover {
    background-color: #0056b3;
}