/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 0;
    color: ivory;
    background-color: #f4f4f4;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
}

h1 {
    color: #333;
  }
  
p {
    color: #333;
}